{{ if .Site.Params.cta.enable }}
    {{"<!-- Call To Action Section -->" | safeHTML}}
    <section id="fees" class="call-to-action" style='background-image: url("{{ with .Site.Params.cta.bg }}{{.}}{{ end }}")' >
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    <div class="block">
                        {{ with .Site.Params.cta.title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ with .Site.Params.cta.subtitle }}
                            <p>{{ . }}</p>
                        {{ end }}
                        <div class="col-lg-6 offset-lg-3">
                            
                            <form action="https://formspree.io/mohansky@gmail.com" method="POST">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Your Email Address Here">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-subscription" type="button" value="Send"> 
                                        <a href="/images/RATE CARD.pdf" target="_blank" style= "color:white;"> Download </a>
                                    </button>
                                </span>
                            </div></form>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
