{{ if .Site.Params.cta.enable }}
    {{"<!-- Call To Action Section -->" | safeHTML}}
    <section id="fees" class="call-to-action" style='background-image: url("{{ with .Site.Params.cta.bg }}{{.}}{{ end }}")' >
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow text-center">
                    <div class="block">
                        {{ with .Site.Params.cta.title }}
                            <h2>{{ . }}</h2>
                        {{ end }}
                        {{ with .Site.Params.cta.subtitle }}
                            <p>{{ . }}</p>
                        {{ end }}
                        <div class="col-lg-6 offset-lg-3">
                            
                            <div class="input-group">
                                <span class="input-group-btn">
                                        <button class="btn btn-default btn-subscription" type="button"> 
                                                <a href="/images/RATE CARD.pdf" target="_blank" style= "color:white;">   Download </a>
                                        </button>
                                    </span>
                                </div>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
