
  <!-- Hatha Slider -->
<div class="container mt-3">

<div id="myCarousel1" class="carousel slide" data-ride="carousel1">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel1" data-slide-to="1"></li>
    <li data-target="#myCarousel1" data-slide-to="2"></li>
    <li data-target="#myCarousel1" data-slide-to="3"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/about/Bond with Yoga Goodness.jpg" alt="Los Angeles"   >
    </div>
    <div class="carousel-item">
      <img src="images/about/Mind, core balance.jpg" alt="Chicago"  >
    </div>
    <div class="carousel-item">
      <img src="images/about/The Boat Pose.jpg" alt="New York"   >
    </div>
    <div class="carousel-item">
        <img src="images/about/Perfect the art of Yoga.jpg" alt="New York"   >
      </div>
  
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel1" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel1" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</div>


