 <!-- About Slider -->
<div class="container mt-3">

<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ul>
  
   
    

    <!-- The slideshow  -->
    <div class="carousel-inner">
    <div class="carousel-item active">
            <img src="images/about/Bhujangasana, hisss, in the cobra pose.jpg" alt="Yoga in South Goa"   >
          </div>
    <div class="carousel-item">
      <img src="images/about/Deep Breathe, on Cova Beach.jpg" alt="Yoga in South Goa" width="1100" height="500">
    </div>
    <div class="carousel-item">
        <img src="images/about/Yoga in South Goa.jpg" alt="Yoga in South Goa" width="1100" height="500">
        </div>
        <div class="carousel-item">
            <img src="images/about/Yoga Everywhere, Everyday.jpg" alt="Yoga in South Goa" width="1100" height="500">
            </div>
      </div> 
    
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

</div>


